@using MVC_Demo2.Models.ViewModel;
@model HW_01_庫存盤點主檔BasicViewModel

<div>
    <div class="row">
        <div class="col">
            <form asp-action="Create">
                @* 全域錯誤訊息區塊 *@
                <div id="ModelErrorDiv" class="validation-summary-valid text-danger">
                    <ul></ul>
                </div>

                @* 固定填入進銷存組織與單據別 *@
                <div class="form-group">
                    <label asp-for="進銷存組織" class="control-label"></label>
                    <input asp-for="進銷存組織" class="form-control" disabled />
                    @Html.HiddenFor(model => model.進銷存組織)
                </div>

                <div class="form-group">
                    <label asp-for="單據別" class="control-label"></label>
                    <input asp-for="單據別" class="form-control" disabled />
                    @Html.HiddenFor(model => model.單據別)
                </div>

                @*其他*@

                <div class="form-group">
                    <label asp-for="日期" class="control-label"></label>
                    <input asp-for="日期" class="form-control" />
                    <span asp-validation-for="日期" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="倉庫代號" class="control-label"></label>
                    <select asp-for="倉庫代號" class="form-control" asp-items="@ViewBag.倉庫選項"></select>
                    <span asp-validation-for="倉庫代號" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="盤點種類" class="control-label"></label>
                    <select asp-for="盤點種類" class="form-control" asp-items="@ViewBag.盤點種類選項"></select>
                    <span asp-validation-for="盤點種類" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="災害別" class="control-label"></label>
                    <select asp-for="災害別" class="form-control" asp-items="@ViewBag.災害別選項"></select>
                    <span asp-validation-for="災害別" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="盤點人" class="control-label"></label>
                    <select asp-for="盤點人" class="form-control" asp-items="@ViewBag.盤點人選項"></select>
                    <span asp-validation-for="盤點人" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="盤點日期" class="control-label"></label>
                    <input asp-for="盤點日期" class="form-control" />
                    <span asp-validation-for="盤點日期" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="備註" class="control-label"></label>
                    <textarea asp-for="備註" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="備註" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" :disabled="isWaitting" />
                </div>
            </form>
        </div>
    </div>
</div>
