@using MVC_Demo2.Models.ViewModel
@model HW_01_庫存盤點主檔DisplayViewModel

@{
    ViewData["Title"] = "刪除庫存盤點單";
}

<h1 class="mt-2 text-danger">@ViewData["Title"]</h1>

<h3 class="text-warning">請確認是否刪除此筆盤點紀錄？</h3>

<hr />
<div class="text-danger">
    @Html.ValidationSummary(excludePropertyErrors: true, message: "", htmlAttributes: new { @class = "text-danger" })
</div>

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.進銷存組織)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.進銷存組織)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.單據別)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.單據別)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.日期)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.日期)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.倉庫名稱)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.倉庫名稱)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.盤點人姓名)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.盤點人姓名)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.修改人)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.修改人)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.修改時間)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.修改時間)
    </dd>
</dl>

<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="進銷存組織" />
    <input type="hidden" asp-for="單據別" />
    <input type="hidden" asp-for="日期" />
    <input type="hidden" asp-for="流水號" />

    <div class="form-group">
        <input type="submit" value="確認刪除" class="btn btn-danger" /> |
        <a href="javascript:history.back()" class="btn btn-secondary">取消</a>
    </div>
</form>
