@model MVC_Demo2.Models.ViewModel.HW_01_庫存盤點主檔DisplayViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>盤點紀錄明細</h1>

<div>
    <h4>庫存盤點主檔</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.盤點人姓名)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.盤點人姓名)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.盤點日期)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.盤點日期)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.備註)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.備註)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.庫存異動狀態名稱)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.庫存異動狀態名稱)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.是否註記刪除顯示)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.是否註記刪除顯示)</dd>

        @*<dt class="col-sm-2">@Html.DisplayNameFor(model => model.核准人)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.核准人)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.核准日期)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.核准日期)</dd>*@

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.倉庫名稱)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.倉庫名稱)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.盤點種類名稱)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.盤點種類名稱)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.災害別名稱)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.災害別名稱)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.進銷存組織)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.進銷存組織)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.修改人)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.修改人)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.修改時間)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.修改時間)</dd>
    </dl>
</div>

<div>
    @Html.ActionLink("編輯", "Edit", new
    {
        進銷存組織 = Model.進銷存組織,
        單據別 = Model.單據別,
        日期 = Model.日期,
        流水號 = Model.流水號
    }) |
    <a asp-action="Index">返回清單</a>
</div>
