@model IEnumerable<MVC_Demo2.Models.MvcDemoModel.車位資料檔>

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarSeatList</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.車位大小編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.車位種類編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.每月租金)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.修改人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.修改時間)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.車位大小編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.車位種類編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.每月租金)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.修改人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.修改時間)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
