@model IEnumerable<MVC_Demo2.Models.MvcDemoModel.車位資料檔>
@*@{
        Layout = null;
    }*@


@{
    @*0526 11:42 HomeController.cs  CarSeatList() 變數的使用*@
    <!--var cars = ViewBag.myData;
    var carSeatCount = ViewBag.myDataLength;

    Console.WriteLine("");--> @*這沒用，因為我們是網頁*@

    <!--System.Diagnostics.Debug.WriteLine(cars);--> @*會將39台車全數印出來*@
}

@*改變@@@1: 資料轉型 11:50*@
@*@{
        var cars(List<MVC_DEMO.Models.MvcDemoModel, 車位資料檔>)ViewBag.myData;
        cars[0].每月租金 = 15000:
        var carSeatCount ViewBag.myDataLength;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarSeatList</title>
</head>
<body>
    <p>
        @*0526 13:20*@
        @*<a asp-action="Create">Create New</a>*@
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.車位大小編號)*@
                    @Html.DisplayNameFor(model => model.建物編號)
                    @*0526 13:58修改為建物編號*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.車位種類編號)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.每月租金)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.修改人)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.修改時間)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*下方的Model來自 HomeController的return View(carList);*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.車位大小編號)*@
                        @Html.DisplayFor(modelItem => item.建物編號)
                        @*0526 13:58修改為建物編號*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.車位種類編號)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.每月租金)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.修改人)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.修改時間)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "EditCarSeatDataGridview", new
                        {
                            事業 = item.事業,
                            單位 = item.單位,
                            部門 = item.部門,
                            分部 = item.分部,
                            建物編號 = item.建物編號,
                            樓層 = item.樓層,
                            車位編號 = item.車位編號,
                   }); |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("刪除", "DeleteCarSeatDataGridView", new
                   {
                       事業 = item.事業,
                       單位 = item.單位,
                       部門 = item.部門,
                       分部 = item.分部,
                       建物編號 = item.建物編號,
                       樓層 = item.樓層,
                       車位編號 = item.車位編號,
                   })
                        @*  0526 14:43 新增 PM  *@
                        @*  原本是new { /* id=item.PrimaryKey */ })    *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
